@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://d3ey4dbjkt2f6s.cloudfront.net/assets/external/work_request_embed.css');

@font-face {
  font-family: 'ConthraxSemiBold';
  src: url('/fonts/Conthrax-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  h1 {
    @apply text-4xl mb-3 lg:text-5xl font-bold text-grayTrue-800 tracking-wide font-custom;
  }

  h2 {
    @apply text-3xl mb-3 lg:text-4xl font-bold text-grayTrue-800 font-custom;
  }

  h3 {
    @apply text-lg mb-3 lg:text-xl font-bold text-grayTrue-800;
  }

  p {
    @apply text-grayTrue-700 text-md mb-5;
  }
}

@layer components {
  .btn-primary {
    @apply block capitalize relative overflow-hidden hover:text-white shadow-sm cursor-pointer w-fit duration-300 hover:bg-primary-500 hover:scale-105 hover:shadow-xl ease-in-out py-3 px-3.5 text-center text-xs bg-primary-600 font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 text-white font-custom;
  }
  // .btn-secondary {
  //   @apply block capitalize relative overflow-hidden hover:text-secondary-500 shadow-sm cursor-pointer w-fit duration-300 hover:scale-105 hover:shadow-xl ease-in-out py-3 px-3.5 text-center text-sm border font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 text-secondary-600 hover:border-secondary-500 border-secondary-600;
  // }

  .btn-primary-white {
    @apply block capitalize hover:scale-105 hover:shadow-xl relative overflow-hidden shadow-sm cursor-pointer w-fit duration-300 ease-in-out py-2.5 px-3.5 text-center text-xs border border-white font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 text-white font-custom;
  }

  .btn-link {
    @apply relative inline-block text-xs text-gray-900 font-semibold duration-300 font-custom;
  }

  .btn-link:hover:before {
    @apply w-full;
  }

  .btn-link:before {
    content: "";
    @apply absolute -bottom-1 duration-1000 ease-in-out left-0 w-[0%] h-0.5 bg-gray-900;
  }

  .btn-link-white {
    @apply relative inline-block text-xs text-white font-semibold duration-300 font-custom;
  }

  .btn-link-white:hover:before {
    @apply w-full;
  }

  .btn-link-white:before {
    content: "";
    @apply absolute -bottom-1 duration-1000 ease-in-out left-0 w-[0%] h-0.5 bg-white;
  }
}

.hide-scrollbar {
  overflow: scroll;
  scrollbar-width: none; /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

// Card Effect

.holographic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.holographic-card {
  width: 300px;
  height: 200px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    #8A40DB70
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #8A40DB50;
}

.holographic-card:hover h4 {
  @apply text-lg;
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}